<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chicle&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>Details</title>
</head>
<body>
    <nav>
        <div class="nav">
            <a href="/index" class="nav">Main Page</a>
            <% if (user) { %>
                <a href="profile/show" class="nav">My Profile</a>
                <a href="/logout" class="nav">Log Out</a>
                <% } else { %>
                  <a href="/auth/google" class="nav">Login with Google</a>
            <% } %>
        </div>
        <a href="/animes/index" class="nav">Anime</a>
    </nav>
    <h1><%= anime.title %></h1>
    <div class="center"><h2>English Title</h2></div>
    <div class="center">
        <% if (anime.altTitle.length) { %>
            <h7><%= anime.altTitle %></h7>
        <% } else { %>
            <p>None</p>
        <% } %></div>
        <div class="center"><h2>Genres</h2></div>
        <div class="center"><p><%= anime.genre.join(', '); %></p></div>
        <div class="center"><h2>Seasons</h2></div> 
        <div class="center"><p><%= anime.seasons %></p></div><br>
        <div class="center">
        <% if (user) { %>
            <button type="submit" id="editBtn"><a href="/animes/<%= anime.id %>/edit">Edit</a></button>
            <form action="/watchlist" method="POST">
                <button type="submit" name="id" value="<%= anime._id %>" id="addToWatch">+ Watchlist</button>
            </form>
            <% if (user.created.includes(anime.id)) { %>
                <form action="/animes/<%= anime.id %>?_method=DELETE"" method="POST">
                    <button type="submit" id="editBtn">Delete</button>
                </form>
            <% } %>
        <% } %>
    </div> 
    
</body>
</html>